{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/59be36b740.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'app/js/script.js' %}" defer></script>
    <!--<script src="{% static 'app/js/download-plugin.js' %}"></script>-->
    <title>Document</title>
</head>
<body>

    <!-- Header -->
    <section class="" id="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Start Bootstrap</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'app:home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- search-area -->
    <section class="mb-lg-0 mb-5 mt-lg-0 mt-5" id="search-section">
        <div class="container px-3 pb-5">
            <div class="row align-items-center px-5 pb-5">
                <div class="col-lg-6 col-12 mb-5 mb-lg-0" data-side="left">
                    <div class="row">
                        <h1 class="" style="font-size: 60px;">Free Video Downloader</h1>
                        <p class="mt-4 text-muted">Fast and free all in one video downloader</p>
                        <div class="container">
                            <div class="me-lg-5 me-md-3" id="error" style="background-color: #FBF7DE; border-radius: 5px">
                                <div class="d-flex align-content-center justify-content-center" style="color: #A98135;">
                                    <h5 class="h5 py-3"></h5>
                                </div>
                            </div>
                        </div>
                        <form action="">
                            {% csrf_token %}
                            <div class="row" id="search-box">
                                <div class="form-outline mb-3">
                                    <label class="form-label" for="search"></label>
                                    <div class="input-group input-group-lg pe-lg-5 pe-md-3">
                                        <input class="form-control search-input" type="text" name="search" id="search" 
                                        placeholder="Paste video url here">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-danger btn-lg py-2 px-3" type="button" id="search-button">Download</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-12 m-0 p-0 mb-lg-0 mb-5 d-none d-lg-flex" data-side="right">
                    <div class="row position-relative" data-icon="1">
                        <img class="" src="{% static 'app/image/icon.png' %}" alt="" srcset="" style="width: auto; height:fit-content;">
                        <div class="position-absolute" data-icon="2">
                            <img class="" src="{% static 'app/image/icon-top-right.png' %}" alt="" srcset="" style="width: auto; height:fit-content;">
                        </div>
                        <div class="position-absolute" data-icon="3">
                            <img class="" src="{% static 'app/image/icon-bottom-left.png' %}" alt="" srcset="" style="width: auto; height:fit-content;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- result area -->
    <section class="px-lg-0 px-3 mb-15" id="response-section">
        <!-- for success  -->
        <div class="container" id="success">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mt-1">
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" id="youtube-embed" src="" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <div>
                        <h5 class="mt-2" id="video-title"></h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row" id="download-choice">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- share area -->
    <!--<section id="share-section">

    </section>-->

    <!-- tutorial -->
    <section class="mt-5 mb-15 px-lg-0 px-3" id="tutorial-section">
        <div class="container">
            <div class="row">
                <!-- Youtube tutorial link -->
                <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-5">
                    <p class="text-primary">How to use?</p>
                    <h1 class="">Free video downloader</h1>
                    <p class="text-muted my-4">Easy to use, unlimited and free</p>
                    <!-- add youtube embed -->
                    <div class="">
                        <button class="btn btn-danger" id="scroll-to-search-aria">Start using</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="list-group list-group-flush" id="step-list">
                        <li class="list-group-item p-4 mx-5">
                            <div class="d-flex justify-content-start">
                                <span class="d-flex justify-content-center align-items-center rounded-circle bg-info text-white me-3" style="width: 45px; height: 45px;">1</span>
                                <div class="mt-2">
                                    <p>Copy sharable video URL</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-4 mx-5">
                            <div class="d-flex justify-content-start">
                                <span class="d-flex justify-content-center align-items-center rounded-circle bg-warning text-white me-3" style="width: 45px; height: 45px;">2</span>
                                <div class="mt-2">
                                    <p>Paste it into the field above</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item p-4 mx-5">
                            <div class="d-flex justify-content-start">
                                <span class="d-flex justify-content-center align-items-center rounded-circle bg-danger text-white me-3" style="width: 45px; height: 45px;">3</span>
                                <div class="mt-2">
                                    <p>Click to download button</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- additional info -->
    <!-- <section class="" id="info-section">
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="d-flex justify-content-center px-5">
                        <span class="d-flex align-items-center justify-content-center bg-success rounded-circle me-3" style="width: 35px; height: 35px;"></span>
                        <div>
                            <h4 class="mb-3 h4">Download Videos from Multiple Sources</h4>
                            <p class="text-start">This website offers you to download videos in multiple formats including MP4, M4A, 3GP from multiple sources.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="d-flex justify-content-center">
                        <span class="d-flex align-items-center justify-content-center bg-info rounded-circle me-3" style="width: 35px; height: 35px;"></span>
                        <div>
                            <h4 class="mb-3 h4">Supported Websites</h4>
                            <p class="text-start">Youtube, Tiktok, Instagram, Facebook, Reddit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="d-flex justify-content-center">
                        <span class="d-flex align-items-center justify-content-center bg-danger rounded-circle me-3" style="width: 35px; height: 35px;"></span>
                        <div>
                            <h4 class="mb-3 h4">Download Audios</h4>
                            <p class="text-start">You can download audio files if they are available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- footer -->
    <section class="bg-dark mt-5" id="footer-section">
        <div class="container">
            <footer class="text-center text-lg-start">
                <div class="container d-flex justify-content-center py-5">
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fa-brands fa-facebook"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fa-brands fa-youtube"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fa-brands fa-instagram"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fa-brands fa-twitter"></i>
                    </button>
                </div>
                <!-- Copyright -->
                <div class="text-center text-white p-3">
                    © 2022 Copyright:
                    <a class="text-white" href="#">Downloader.com</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </section>

    {% block content %}

    {% endblock %}

    <script defer>
        function getUrl () {
            return "{% url 'app:youtube-response' %}"
        }
    </script>

    <!--<script>
        //download.js v3.0, by dandavis; 2008-2014. [CCBY2] see http://danml.com/download.html for tests/usage
        // v1 landed a FF+Chrome compat way of downloading strings to local un-named files, upgraded to use a hidden frame and optional mime
        // v2 added named files via a[download], msSaveBlob, IE (10+) support, and window.URL support for larger+faster saves than dataURLs
        // v3 added dataURL and Blob Input, bind-toggle arity, and legacy dataURL fallback was improved with force-download mime and base64 support

        // data can be a string, Blob, File, or dataURL

        function download(data, strFileName, strMimeType) {

            var self = window, // this script is only for browsers anyway...
                u = "application/octet-stream", // this default mime also triggers iframe downloads
                m = strMimeType || u,
                x = data,
                D = document,
                a = D.createElement("a"),
                z = function (a) { return String(a); },


                B = self.Blob || self.MozBlob || self.WebKitBlob || z,
                BB = self.MSBlobBuilder || self.WebKitBlobBuilder || self.BlobBuilder,
                fn = strFileName || "download",
                blob,
                b,
                ua,
                fr;

            //if(typeof B.bind === 'function' ){ B=B.bind(self); }

            if (String(this) === "true") { //reverse arguments, allowing download.bind(true, "text/xml", "export.xml") to act as a callback
                x = [x, m];
                m = x[0];
                x = x[1];
            }



            //go ahead and download dataURLs right away
            if (String(x).match(/^data\:[\w+\-]+\/[\w+\-]+[,;]/)) {
                return navigator.msSaveBlob ?  // IE10 can't do a[download], only Blobs:
                    navigator.msSaveBlob(d2b(x), fn) :
                    saver(x); // everyone else can save dataURLs un-processed
            }//end if dataURL passed?

            try {

                blob = x instanceof B ?
                    x :
                    new B([x], { type: m });
            } catch (y) {
                if (BB) {
                    b = new BB();
                    b.append([x]);
                    blob = b.getBlob(m); // the blob
                }

            }



            function d2b(u) {
                var p = u.split(/[:;,]/),
                    t = p[1],
                    dec = p[2] == "base64" ? atob : decodeURIComponent,
                    bin = dec(p.pop()),
                    mx = bin.length,
                    i = 0,
                    uia = new Uint8Array(mx);

                for (i; i < mx; ++i) uia[i] = bin.charCodeAt(i);

                return new B([uia], { type: t });
            }

            function saver(url, winMode) {


                if ('download' in a) { //html5 A[download] 			
                    a.href = url;
                    a.setAttribute("download", fn);
                    a.innerHTML = "downloading...";
                    D.body.appendChild(a);
                    setTimeout(function () {
                        a.click();
                        D.body.removeChild(a);
                        if (winMode === true) { setTimeout(function () { self.URL.revokeObjectURL(a.href); }, 250); }
                    }, 66);
                    return true;
                }

                //do iframe dataURL download (old ch+FF):
                var f = D.createElement("iframe");
                D.body.appendChild(f);
                if (!winMode) { // force a mime that will download:
                    url = "data:" + url.replace(/^data:([\w\/\-\+]+)/, u);
                }


                f.src = url;
                setTimeout(function () { D.body.removeChild(f); }, 333);

            }//end saver 


            if (navigator.msSaveBlob) { // IE10+ : (has Blob, but not a[download] or URL)
                return navigator.msSaveBlob(blob, fn);
            }

            if (self.URL) { // simple fast and modern way using Blob and URL:
                saver(self.URL.createObjectURL(blob), true);
            } else {
                // handle non-Blob()+non-URL browsers:
                if (typeof blob === "string" || blob.constructor === z) {
                    try {
                        return saver("data:" + m + ";base64," + self.btoa(blob));
                    } catch (y) {
                        return saver("data:" + m + "," + encodeURIComponent(blob));
                    }
                }

                // Blob but not URL:
                fr = new FileReader();
                fr.onload = function (e) {
                    saver(this.result);
                };
                fr.readAsDataURL(blob);
            }
            return true;
        }
            /* end download() */

    </script>-->

    <!--<script defer>
        download()
    </script>-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>